.banner{
    display: flex;
    justify-content: space-between;
}
.banner1 img{
    max-width:500px;
    width: auto;
    max-height: 1000px;
    height: auto;
}
.banner2 img{
    max-width:500px;
    width: auto;
    max-height: 1000px;
    height: auto;
}