@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');


ul{
    padding: 0 auto;
    list-style: none;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
}

ul li{
    margin: 0;
    margin: 5px;

}
li a{
    padding: 5px 10px;
    margin: 0;
     border: 0px solid rgb(73, 201, 48);
    background: rgb(7, 122, 22);
    text-decoration: none;
    color: #fff
}
 